.properties-carousel {
  margin: 1.5rem 0;
}

.slick-dots {
  bottom: -25px;
}

.slick-prev,
.slick-next { 
  z-index: 2;
}

.slick-prev:before,
.slick-next:before {
  color: #0071c2 !important;
  font-size: 28px !important;
  opacity: 1 !important; /* a veces vienen con opacity baja */
}
